## Application
backend/app/config/
frontend/dist/

# Environments
.venv
.env

# Python
__pycache__/

# Node
node_modules/

# OS Files
.DS_Store
.Spotlight-V100
.Trashes

# IDE
.vscode/
.idea/

test-compose.yml